@model SignUpVM
@{
    ViewData["Title"] = "SignUp";
}

@* Bu kod sayesinde Validation etmek ücün backend-e muraciet etmeden frontend de edir *@
@* _ValidationScriptsPartial içinde olan kodları _Layout sehifesinde RenderSectionAsync-dan bir setir yuxarida da yazmaq olar.Onda aşağıdakı lazım olmur *@
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Sign Up</h2><br />

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        @* ModelState AddModelError-lari gormek ucundur. *@
        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>

        <form method="post" asp-controller="Home" asp-action="SignUp">
            <div class="row mb-3">
                <label for="UserName" class="col-md-3 col-form-label" asp-for="UserName">UserName :</label>
                <div class="col-md-8">
                    <input asp-for="UserName" class="form-control">
                    <span class="text-danger" asp-validation-for="UserName"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="Email" class="col-md-3 col-form-label" asp-for="Email">Email :</label>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="Phone" class="col-md-3 col-form-label" asp-for="Phone">Phone :</label>
                <div class="col-md-8">
                    <input asp-for="Phone" class="form-control">
                    <span class="text-danger" asp-validation-for="Phone"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="PassWord" class="col-md-3 col-form-label" asp-for="Password">Password :</label>
                <div class="col-md-8">
                    <input asp-for="Password" class="form-control">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="ConfirmPassword" class="col-md-3 col-form-label" asp-for="ConfirmPassword">ConfirmPassword :</label>
                <div class="col-md-8">
                    <input asp-for="ConfirmPassword" class="form-control">
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </div>
        </form>
    </div>
</div>
